<img id="banner" src="/img/header3.jpg" alt="">

<header id="navbar" class="headerContainer example-screen">
    <a href="#top" id="pagetop"></a>
    <div class="headerDiv">
        <h1>Low Carb Solutions</h1>
    </div>

    <div id="top" class="searchContainer">
        <div class="searchDiv">
            <form id="recipe-form" class="search1">
                <input id="search-input" class="submitBtn" type="submit" value="Search"><input type="text" id="search-inputText"
                    placeholder=" ex. chicken, beef">
            </form>
        </div>
        <nav class="navItems">
            <a class="nav-item" href="/home">Home</a> |
            <a class="nav-item" href="/uploadrecipe">Submit a Recipe</a> |
            <a class="nav-item" href="/viewrecipe">My Recipes</a>
        </nav>
    </div>
</header>

<div class="recipeSearchResultsDiv">
    <div class="h2main">
        <h2>Recipe of the Month</h2>
    </div>
    <div class="searchResultsList example-screen">

    </div>
    <div class="searchRecipeDetailsDiv example-print">

    </div>
</div>
<div class="scrollBtnMain">
    <div class="scroll-right"></div>
    <div class="scroll-left"></div>
</div>

<div class="featuredRecipes example-screen">
    <h2>Featured Recipes</h2>
    <div class="feat1">
        <img class="feature1link" src="/img/feature1A.jpg" alt="feature recipe image">
    </div>

    <div class="feat2">
        <img class="feature2link" src="/img/feature2B.jpg" alt="feature recipe image">
    </div>
    <div class="feat3">
        <img class="feature3link" src="/img/feature3B.jpg" alt="feature recipe image">
    </div>
</div>

<div class="communityFormDisplay example-screen">
    <h2>Community Recipes - Recipes from you</h2>
    <ul class="formList">
        {{#each myform}}
        <li class="formDisplayList">
            <img class="myListImg" src="{{this.recipe_image}}" alt="recipe picture">
            <p class="formUserName formResultsDisplay"><strong>User Name:</strong> {{this.user_name}}</p>
            <p class="formRecipeName formResultsDisplay"><strong>Recipe Name:</strong> {{this.recipe_name}}</p>
            <p class="formServings formResultsDisplay"><strong>Servings:</strong> {{this.recipe_servings}}</p>
            <p class="formIngredients formResultsDisplay"><strong>Ingredients:</strong><br> {{this.recipe_ingredients}}</p>
            <p class="formInstructions formResultsDisplay"><strong>Cooking Instructions:</strong><br>
                {{this.recipe_cookingInst}}</p>

        </li>
        {{/each}}
    </ul>
</div>
<footer id="main-footer">
    <p class="contact">Contact Us at: </p>
    <p class="contact">Intake, Inc. PO Box 679556, Orlando, FL 32867. Ph#: 1.800.4Intake</p>
    <a class="email" href="mailto:contact@intake.com" target="_blank"> email: contact@intake.com
    </a>
    <a href="https://www.instagram.com/intake.life/?hl=en" target="_blank"> <img src="/img/instagram.png" alt="Instagram">
    </a>
    <p class="contact copyright">Copyright &copy 2018</p>
</footer>